* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_top {
    background-color: #ED3729;

    .nav-top_left {
        .nav-top_item {
            h3 {
                color: #fff;
                font-size: 14px;
                font-family: 'Gotham Pro';
                cursor: pointer;
            }
        }

        .nav_top_menu {
            h3 {
                color: #fff;
                font-family: 'Gotham Pro';
                font-size: 14px;
                cursor: pointer;
            }
        }
    }

    .nav-top_right {
        h1 {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
        }

        select {
            border: none;
            background-color: transparent;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            font-family: 'Gotham Pro';
            cursor: pointer;
            outline: none;

            option {
                background-color: #ED3729;
            }
        }
    }
}

.nav_content {
    margin-top: 25px;
}

.nav_inputs {
    border: 1px solid #ED3729;
    width: 717px;
    height: 50px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;

    input {
        width: 50%;
        outline: none;
        font-family: 'Gotham Pro';
    }

    select {
        width: 125px;
        height: 25px;
    }

    button {
        padding: 14px 30px;
        background-color: #ED3729;
        border-radius: 0px 5px 5px 0px;
        align-items: center;
        display: flex;
        color: #fff;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .lina {
        height: 22px;
        width: 1px;
        background-color: #000;
    }
}

.nav_right {
    align-items: center;

    div {
        cursor: pointer;
        text-align: center;
    }
}

.nav_bottom_button {
    font-family: 'Nunito';
}

.nav_bottom_menu {
    h1 {
        cursor: pointer;
        font-size: 16px;
        font-family: 'Gotham Pro';
        font-weight: 500;
        transition: .3s;
        &:hover {
            color: #ED3729;
        }
    }
}